<div class="slds-grid slds-wrap slds-align_absolute-center">

   <div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-m-top_large slds-size_4-of-5 slds-grid_vertical-stretch">

      {{#each demos}}
         <div class="slds-col slds-box slds-size_1-of-4 slds-m-horizontal_medium slds-m-top_small ">
            <div class="slds-align_absolute-center slds-text-heading_medium slds-border_bottom slds-p-bottom_x-small">
               <div class="slds-media__figure">
                  <span class="slds-avatar slds-avatar_large">
                     <img alt="{{this.title}}" src="{{this.image}}" title="{{this.title}}">
                  </span>
               </div>
               <div class="slds-media__body">
                  <p>{{this.title}}</p>
               </div>
            </div>
            <div class="slds-media slds-m-top_medium">
               <p>{{this.description}}</p>
            </div>
            <div class="slds-grid slds-p-top_small">
               <div class="slds-size_1-of-2 slds-align_absolute-center">
          
                  <button class="slds-button slds-button_neutral setup-btn" data-link="{{this.setup}}" data-name="{{this.name}}">
                     <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                     </svg>
                     Setup
                  </button>
   
               </div>
               <div class="slds-size_1-of-2 slds-align_absolute-center">
                  <button class="slds-button slds-button_neutral video-btn" data-link="{{this.video}}" data-name="{{this.name}}">
                     <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" 
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#video"></use>
                     </svg>
                     Video
                  </button>
               </div>
            </div>
         </div>
      {{/each}}
   </div>
</div>
<script typt="text/javascript" src="https://play.vidyard.com/v0/api.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $("button[class~='setup-btn']").click(function() {
         var url = $(this).data('link'); 
         window.open(url, '_blank');
         ga('send', 'event', $(this).data('name'), 'setup');
      });
      $("button[class~='video-btn']").click(function() {
         alert($(this).data('link'));
         ga('send', 'event', $(this).data('name'), 'video');
      });
   });
</script>
