<div class="slds-grid slds-wrap slds-align_absolute-center">

   <div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-m-top_large slds-size_4-of-5 slds-grid_vertical-stretch">

      {{#each demos}}
         <div class="slds-col slds-box slds-size_1-of-4 slds-m-horizontal_medium slds-m-top_small ">
            <div class="slds-align_absolute-center slds-text-heading_medium slds-border_bottom slds-p-bottom_x-small">
               <div class="slds-media__figure">
                  <span class="slds-avatar slds-avatar_large">
                     <img alt="{{this.title}}" src="{{this.image}}" title="{{this.title}}">
                  </span>
               </div>
               <div class="slds-media__body">
                  <p>{{this.title}}</p>
               </div>
            </div>
            <div class="slds-media slds-m-top_medium">
               <p>{{this.description}}</p>
            </div>
            <div class="slds-grid slds-p-top_small">
               <div class="slds-size_1-of-2 slds-align_absolute-center">
          
                  <button class="slds-button slds-button_neutral setup-btn" data-link="{{this.setup}}" data-name="{{this.name}}">
                     <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                     </svg>
                     Setup
                  </button>
   
               </div>
               <div class="slds-size_1-of-2 slds-align_absolute-center">
                  <button class="slds-button slds-button_neutral video-btn" data-video="{{this.video}}" data-name="{{this.name}}">
                     <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" 
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#video"></use>
                     </svg>
                     Video
                  </button>
               </div>
            </div>
         </div>
      {{/each}}
   </div>
</div>

<iframe src="https://drive.google.com/file/d/0B3a8rtxyKB8kd0RwQUE3TGtTR1U" width="640" height="480"></iframe>

   <div id="modal" style="display:none;">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large slds-fade-in-open">
         <div class="slds-modal__container">
            <header class="slds-modal__header">
               <button id="video-modal-close-btn" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                  <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                  </svg>
                  <span class="slds-assistive-text">Close</span>
               </button>
               <h2 id="modal-video-heading" class="slds-text-heading_medium slds-hyphenate"></h2>
            </header>

            <div class="slds-modal__content slds-p-vertical_medium">
               <div id="video-content"></div>
            </div>
         </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
   </div>  


<script typt="text/javascript" src="https://play.vidyard.com/v0/api.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $("button[class~='setup-btn']").click(function() {
         var url = $(this).data('link'); 
         window.open(url, '_blank');
         ga('send', 'event', $(this).data('name'), 'setup');
      });
      $("button[class~='video-btn']").click(function() {
         var videoId = $(this).data('link');
         var name = $(this).data('name');
         $("#modal-video-heading").html(name);
         $("#video-content").html('<iframe src="https://drive.google.com/file/d/'+videoId+'" width="640" height="480"></iframe>');
         $("#modal").toggle();
         ga('send', 'event', $(this).data('name'), 'video');
      });
      $("#video-modal-close-btn").click(function(){
         $("#modal").toggle();
      });
   });


</script>
