<!DOCTYPE html>
<html>
<head>
   <title>{{title}}</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel='stylesheet' href='/assets/styles/salesforce-lightning-design-system.min.css' />
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />    
   <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
   <!-- Google Analytics -->
   <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', '{{analytics}}', 'auto');
   ga('send', 'pageview');

   </script>
   <!-- End Google Analytics -->   
</head>
<body>
   <header class="slds-global-header_container">
      <div class="slds-global-header slds-grid">
         <div class="slds-global-header__item">
            <div class="slds-global-header__logo">
               <img src="/assets/images/logo-noname.svg" alt="">
            </div>
         </div>
         <div class="slds-global-header__item slds-text-heading_small">
            {{title}}
         </div>
      </div>
   </header>
   <div class="slds-context-bar">
      <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
         <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
            <div class="slds-context-bar__icon-action">
               <button id="all-resources-btn" class="slds-button slds-icon-waffle_container slds-context-bar__button" title="All the resources you need">
                  <span class="slds-icon-waffle">
                     <span class="slds-r1"></span>
                     <span class="slds-r2"></span>
                     <span class="slds-r3"></span>
                     <span class="slds-r4"></span>
                     <span class="slds-r5"></span>
                     <span class="slds-r6"></span>
                     <span class="slds-r7"></span>
                     <span class="slds-r8"></span>
                     <span class="slds-r9"></span>
                  </span>
                  <span class="slds-assistive-text">Open App Launcher</span>
               </button>
            </div>
            <span class="slds-context-bar__label-action slds-context-bar__app-name">
               <span class="slds-truncate" title="App Name">Heroku</span>
            </span>
         </div>
      </div>
      <nav class="slds-context-bar__secondary" role="navigation">
         <ul class="slds-grid">
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{why_style}}" >
               <a href="/" class="slds-context-bar__label-action nav-item" title="Why Heroku">
                  <span class="slds-truncate" title="Home">Why Heroku</span>
               </a>
            </li>
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{customers_style}}" >
               <a href="/customers" class="slds-context-bar__label-action nav-item" title="Customers">
                  <span class="slds-truncate" title="Customers">Customers</span>
               </a>
            </li>    
                    
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{demo_style}}" >
               <a href="/demos" class="slds-context-bar__label-action nav-item" title="Demos">
                  <span class="slds-truncate" title="Demos">Demos</span>
               </a>
            </li>            
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{dynos_style}}" >
               <a href="/dynos" class="slds-context-bar__label-action nav-item" title="Dynos">
                  <span class="slds-truncate" title="Dynos Explained">Dynos</span>
               </a>
            </li>            
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{data_style}}" >
               <a href="/data" class="slds-context-bar__label-action nav-item" title="Data Services">
                  <span class="slds-truncate" title="Data Services">Data Services</span>
               </a>
            </li>               
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{connect_style}}" >
               <a href="/connect" class="slds-context-bar__label-action nav-item" title="Heroku Connect">
                  <span class="slds-truncate" title="Heroku Connect">Heroku Connect</span>
               </a>
            </li>
            <!--
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{competitive_style}}" >
               <a href="/competitive" class="slds-context-bar__label-action nav-item" title="Competitive">
                  <span class="slds-truncate" title="Competitive">Competitive</span>
               </a>
            </li>      
                  
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{calculator_style}}" >
               <a href="/calculators" class="slds-context-bar__label-action nav-item" title="Calculators">
                  <span class="slds-truncate" title="Calculators">Calculators</span>
               </a>
            </li>-->
            <li class="slds-context-bar__item slds-context-bar__item_divider-right {{architecture_style}}" >
               <a href="/architecture" class="slds-context-bar__label-action nav-item" title="Architecture">
                  <span class="slds-truncate" title="Home">Common Uses</span>
               </a>
            </li>           
         </ul>
      </nav>
   </div>
   {{{body}}}
   <div id="modal" style="display:none;">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large slds-fade-in-open">
         <div class="slds-modal__container">
            <header class="slds-modal__header">
               <button id="modal-close-btn" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                  <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                  </svg>
                  <span class="slds-assistive-text">Close</span>
               </button>
               <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Other Resources</h2>
            </header>

            <div class="slds-modal__content slds-p-vertical_medium" id="modal-content-id-1">
               <div class="slds-grid slds-wrap slds-grid_vertical-stretch">
               {{#each resources}}
                  <a href="{{this.url}}" target="_blank" class="slds-box slds-box_link slds-box_x-small slds-media slds-col slds-size_1-of-5 slds-m-around_small ">
                  <div class="slds-media__figure slds-avatar slds-avatar_large slds-align_absolute-center">
                     <span class="slds-icon_container slds-icon-utility-knowledge_base" title="{{this.title}}">
                        <img src="{{this.image}}"/>
                        <span class="slds-assistive-text">{{this.title}}</span>
                     </span>
                  </div>
                  <div class="slds-media__body slds-border_left slds-p-around_small">
                     <h2 class="slds-truncate slds-text-heading_small" title="Share the knowledge">{{this.title}}</h2>
                     <p class="slds-m-top_small">{{this.description}}</p>
                  </div>
                  </a>
               {{/each}}   
               </div>       
            </div>
         </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
   </div>   

   <div class="slds-docked-form-footer slds-align_absolute-center">
      Built and maintained by &nbsp;<a href="/requestAnArchitect">HEAT</a>
   </div>

   <script type="text/javascript">

      $(document).ready(function() {
         ga('send', 'pageview', '{{page}}', { title : '{{title}}', page : '{{page}}'});
         $("#all-resources-btn").click(function() {
            toggleModal();
         });
         $("#modal-close-btn").click(function() {
            toggleModal();
         });
         $("li[class~='slds-context-bar__item']").click(function() {
            let selected = this;
            $("li[class~='slds-context-bar__item']").each(function() {
               if(this == selected) {
                  $(this).addClass('slds-is-active');
               } else {
                  $(this).removeClass('slds-is-active');
               }
            })
         });
      });


   function slides(page) {
      if($("#topics").is(':visible')) {
         $("#topics").hide();
         $("#slides").show();     
         ga('send', 'event', page, 'show-slides');
      }
   }    
   function topics(page) {
      if($("#slides").is(':visible')) {
         $("#topics").show();
         $("#slides").hide();     
         ga('send', 'event', page, 'show-topics');
      }
   }
      function toggleModal() {
         $("#modal").toggle();
      }
   </script>

</body>
</html>
